CREATE SCHEMA IF NOT EXISTS {{ etlDb }};

CREATE TABLE IF NOT EXISTS {{ etlDb }}.ETL_LOGS (
  ETL_LOG_ID BIGSERIAL PRIMARY KEY,
  JOB_TYPE VARCHAR(64),
  START_DATE DATE,
  DATA_PATH VARCHAR(4096),
  JOBID VARCHAR(255),
  STATUS VARCHAR(255),
  JOB_START_TIME TIMESTAMP DEFAULT NULL,
  JOB_END_TIME TIMESTAMP DEFAULT NULL,
  MESSAGE VARCHAR(4096),
  COUNTS BIGINT
);
